


* {
    padding: 0px;
    margin: 0px;

}

img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.heroW{
    margin-bottom: 45px;
    padding-top: 120px;
    color:#009669;
    font-size: 20px;
}
.hero{
    background-color: rgba(188, 187, 172, 0.184);
    display: flex;
    justify-content: center;
    align-items:center;

}
.button-1 {
    background-color: #009669;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;    
}
.button-2 {
    background-color: #c5cbc3;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(33, 30, 30);
    border: none;
    cursor: pointer;
}
 .hero h1 {
    font-size: 60px;
    margin-bottom: 30px;
}
.heroX{
    margin-bottom: 45px;
    font-size: 20px;
    color: rgb(33, 30, 30);
}
.button-1,.button-2{
    margin-bottom: 110px;
   margin-right: 20px;
}
/* Hero End */


/* course start */
.course-likha h3{
        margin-bottom: 20px;
        margin-top: 80px;
        font-size: 45px;
}
.containerCourses{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
    
}
.price-enroll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding: 0px 20px;
}
.enroll-link{
    text-decoration: none;
}
.course-box1,.course-box2, .course-box3{
    border: 1px solid rgba(44, 25, 25, 0.102);
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 90px;

}
.course-box1:hover,.course-box2:hover, .course-box3:hover{
    box-shadow: 0px 7px 15px black;
        transform: translateY(-10px);

    transition: 0.3s;
}
.bolod{
    margin: 18px;
}
.course-text h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.course-text p{
    margin-bottom: 25px;
}
.course-box1 h4{
    color: #009669;
}
.course-box2 h4{
    color: #c9bf0e;
}
.course-box3 h4{
    color: #009669;
}
.price-enroll a{
    color: #009669;
}
/* course end */

/* about start */
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black; 
     color: rgb(246, 246, 246);
}
.amne1, .amne2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.right-about{
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 90px;
    }
.left-about{
    margin-top: 70px;
    margin-bottom: 70px;
}
.hii{
    margin-top: 35px;
    margin-bottom: 35px;
    color: rgba(237, 228, 228, 0.733);
}
.amne2{
    margin-top: 35px;
}
.num{
    background-color: #1a570741;
    padding: 15px;
    color: #009669;
    border-radius: 8px;

}
.first,.second,.third,.fourth{
    background-color: rgba(61, 64, 64, 0.281);
    padding: 35px 140px 35px 40px;
    border-radius: 20px;
    
}
.first h1,.second h1,.third h1,.fourth h1{
    color: #009669;
    font-size: 45px;
}
.left-about h2{
    font-size: 40px;
}
.amne1 p, .amne2 p, .right-about p{
    color: rgba(237, 228, 228, 0.733);
}


/* Why start */

.why{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
}
.why-1, .why-2, .why-3{
    flex: 1;
    border: 1px solid rgba(237, 228, 228, 0.733);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 95px;
    padding: 24px;
}
.whysec h1{
    margin-top: 75px;
    margin-bottom: 50px;
}
hr{
    margin-top: 25px;
    margin-bottom: 17px;
}
.why p{
    color: rgb(118, 111, 111);
}
.why-1:hover, .why-2:hover, .why-3:hover{
    box-shadow: 0px 7px 15px black;
        transform: translateY(-10px);

    transition: 0.3s;
}
/* video start */

.videoo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
     padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(188, 187, 172, 0.184);
}
video{
     max-width: 760px;
     width: 100%;
    margin-top: 35px;
    margin-bottom: 43px;
    border-radius: 20px;
}
.videoo p{
    margin-top: 15px;
    color: rgb(118, 111, 111);
}
.videoo h2{
    font-size: 30px;
    margin-top: 35px;
}